
En el presente proyecto se procederá a realizar el proceso ETL mediante el lenguaje de programación Python y la librería de SQLAlchemy que tiene la misma función que otras librerías como sqlite3. A continuación se presenta los pasos que se realizarán para el proceso ETL:


1. Primero, se usará sólamente la tabla Invoice de la base de datos chinook.db
2. Para el proceso de transformación se realizará lo siguiente:
-Se calculará la facturación promedio por factura por país
-Se procesará los valores nulos en las facturas de tal forma que se los rellene con "Ninguno" y "12345".
3. Se cargará los datos transformados dentro de la base de datos chinook.db en una nueva tabla que se llamará "New_Invoice".

In [ ]:
import pandas as pd

In [ ]:
import sqlalchemy

In [ ]:
sqlalchemy.__version__

'1.4.31'

In [ ]:
# Conexión con la base de datos

connection_uri = "sqlite:///chinook.db"

In [ ]:
# Creando un engine: db_engine
db_engine = sqlalchemy.create_engine(connection_uri)

## ETL
### 1. Preprocessing of Extract

In [ ]:
# Realizamos un inspector con el engine anterior creado para buscar el nombre de las tablas de la base de datos
inspector = sqlalchemy.inspect(db_engine)
table_names = inspector.get_table_names()
table_names

['New_Invoice',
 'albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'sqlite_sequence',
 'sqlite_stat1',
 'tracks']

In [ ]:
# Abrimos conexión con el engine: con
con = db_engine.connect()

In [ ]:
# Se realiza una pequeña consulta de prueba
qr_invoice = con.execute("SELECT * FROM invoices")

type(qr_invoice)

sqlalchemy.engine.cursor.LegacyCursorResult

In [ ]:
qr_invoice.keys()

RMKeyView(['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total'])

In [ ]:
df = pd.DataFrame(qr_invoice.fetchall())
df.columns = qr_invoice.keys()

In [ ]:
df

     InvoiceId  CustomerId  ... BillingPostalCode  Total
0            1           2  ...             70174   1.98
1            2           4  ...              0171   3.96
2            3           8  ...              1000   5.94
3            4          14  ...           T6G 2C7   8.91
4            5          23  ...              2113  13.86
..         ...         ...  ...               ...    ...
407        408          25  ...             53703   3.96
408        409          29  ...           M6J 1V1   5.94
409        410          35  ...              None   8.91
410        411          44  ...             00530  13.86
411        412          58  ...            110017   1.99

[412 rows x 9 columns]

### 2. Preproceso de transformación
Se calculará la facturación promedio por factura por país -Se procesará los valores nulos en las facturas de tal forma que se los rellene con "Ninguno" y "12345".

Se cargará los datos transformados dentro de la base de datos chinook.db en una nueva tabla que se llamará "New_Invoice".

Cálculo del primedio de facturación por factura por país.

In [ ]:
# Se calcula el promedio de factoración por país
df_g = df.groupby(['BillingCountry'])[['Total']].mean()
df_g

                   Total
BillingCountry
Argentina       5.374286
Australia       5.374286
Austria         6.088571
Belgium         5.374286
Brazil          5.431429
Canada          5.427857
Chile           6.660000
Czech Republic  6.445714
Denmark         5.374286
Finland         5.945714
France          5.574286
Germany         5.588571
Hungary         6.517143
India           5.789231
Ireland         6.517143
Italy           5.374286
Netherlands     5.802857
Norway          5.660000
Poland          5.374286
Portugal        5.517143
Spain           5.374286
Sweden          5.517143
USA             5.747912
United Kingdom  5.374286

In [ ]:
df_g = df_g.reset_index()
df_g.rename(columns = {"Total":"Promedio"}, inplace=True)
df_g.head(5)

  BillingCountry  Promedio
0      Argentina  5.374286
1      Australia  5.374286
2        Austria  6.088571
3        Belgium  5.374286
4         Brazil  5.431429

In [ ]:
# Uniendo el promedio calculado en el conjunto de datos
df = df.merge(df_g, how="left", left_on = "BillingCountry", right_on = "BillingCountry")
df.head(5)

   InvoiceId  CustomerId  ...  Total  Promedio
0          1           2  ...   1.98  5.588571
1          2           4  ...   3.96  5.660000
2          3           8  ...   5.94  5.374286
3          4          14  ...   8.91  5.427857
4          5          23  ...  13.86  5.747912

[5 rows x 10 columns]

##### Procesando los valores nulos en los atributos y llenándolos con "ninguno" y "12345".

In [ ]:
# Se realiza una consulta para verificar el número de campos nulos en cada atributo
display('Número de campos nulos por cada atributo', df.isnull().sum())

'Número de campos nulos por cada atributo'

InvoiceId              0
CustomerId             0
InvoiceDate            0
BillingAddress         0
BillingCity            0
BillingState         202
BillingCountry         0
BillingPostalCode     28
Total                  0
Promedio               0
dtype: int64

In [ ]:
 df= df.fillna({"BillingState": "Ninguno", "BillingPostalCode":"12345"})

In [ ]:
display('Número de campos nulos por cada atributo: ', df.isnull().sum())

'Número de campos nulos por cada atributo: '

InvoiceId            0
CustomerId           0
InvoiceDate          0
BillingAddress       0
BillingCity          0
BillingState         0
BillingCountry       0
BillingPostalCode    0
Total                0
Promedio             0
dtype: int64

In [ ]:
df

     InvoiceId  CustomerId  ...  Total  Promedio
0            1           2  ...   1.98  5.588571
1            2           4  ...   3.96  5.660000
2            3           8  ...   5.94  5.374286
3            4          14  ...   8.91  5.427857
4            5          23  ...  13.86  5.747912
..         ...         ...  ...    ...       ...
407        408          25  ...   3.96  5.747912
408        409          29  ...   5.94  5.427857
409        410          35  ...   8.91  5.517143
410        411          44  ...  13.86  5.945714
411        412          58  ...   1.99  5.789231

[412 rows x 10 columns]

### 3. Preproceso de carga
* Se comienza a hacer la carga al  sql

In [ ]:
con

In [ ]:
sqlite_table = "New_Invoice"
df.to_sql(sqlite_table, con, if_exists='fail')

ValueError: ignored

In [ ]:
con.close()

### 4. Creación de las funciones ETL

Funciónes de estracción: 
Nombre de la función: **extract_table_to_pandas**

In [ ]:
# Función para extraer a través del engine y la conexión de la base de datos. 
def extract_database(path):
    '''
    Input:
        path: Path of the database
        
    Output:
        return 
        db_engine : The engine is get database
        db_connect: The connect is get connection with engine
    '''
    db_engine = sqlalchemy.create_engine(path)
    db_connect = db_engine.connect()
    
    return db_engine, db_connect

In [ ]:
# Función para extraer la tabla hacia el dataframe

def extract_table_to_pandas(tablename, db_connect):
    '''
    Input:
        Table Name: Name of the table to be extracted
        db_connect: The connect to get connection with engine
    Output:
        return 
        df        : The dataframe to be transformed
    '''
    query = "SELECT * FROM {}".format(tablename)
    result = db_connect.execute(query)

    df = pd.DataFrame(result.fetchall())
    df.columns = result.keys()
    
    return df

Creando funciones de transformación: 
Nombre de la función:
- **transform_avg_billing**
- **transform_fill_null**

In [ ]:
# Función de transformación para el promedio 
def transform_avg_billing(data):
    '''
    Group by Country and extract average billing per Invoice
    Input:
        data : The dataframe to get to transform
    Output:
        return dataframe transformed
    '''
    # Cálculo del promedio por país
    df_g = data.groupby(['BillingCountry'])[['Total']].mean()
    df_g = df_g.reset_index()
    df_g.rename(columns = {"Total":"Average"}, inplace=True)
    
    df = data.merge(df_g, how="left", left_on = "BillingCountry", right_on = "BillingCountry")

    return df

In [ ]:
# Función de transformación para rellenar los valores faltantes
def transform_fill_null(data):
    '''
    Some processing about Null values
        "BillingState" > "None"
        "BillingPostalCode" > "99999"
    Input:
        data : The dataframe to get to transform
    Output:
        return dataframe transformed
    '''
    # Proceso de llenado de los valores restantes
    data = data.fillna({"BillingState": "None", "BillingPostalCode":"99999"})

    return data

Creación de las funciones de carga:

In [ ]:
# Función para cargar un dataframe dentro de una tabla en la base de datos
def loading_to_sql(data, connect, sqlite_table='New_Table'):
    '''
    Input:
        data        : The dataframe to get to loading
        connect     : Name of the engine connection 
        sqlite_table: Table name for loaing
    '''
   
    data.to_sql(sqlite_table, connect, if_exists='fail')
    connect.close()
    return 'Loading is Done'

##### 4.4. Testing functions of ETL

In [ ]:
# Main donde se ejecutan las funciones
path = "sqlite:///chinook.db"

# Extrayendo de la base de datos la tabla invoices
extract_db = extract_database(path)

tablename = 'invoices'
engine = extract_db[0]
extract = extract_table_to_pandas(tablename, engine)

# Transformación
transform = transform_avg_billing(extract)
transform = transform_fill_null(transform)

# Carga
data = transform
connect = extract_db[1]
sqlite_table
data.head

<bound method NDFrame.head of      InvoiceId  CustomerId  ...  Total   Average
0            1           2  ...   1.98  5.588571
1            2           4  ...   3.96  5.660000
2            3           8  ...   5.94  5.374286
3            4          14  ...   8.91  5.427857
4            5          23  ...  13.86  5.747912
..         ...         ...  ...    ...       ...
407        408          25  ...   3.96  5.747912
408        409          29  ...   5.94  5.427857
409        410          35  ...   8.91  5.517143
410        411          44  ...  13.86  5.945714
411        412          58  ...   1.99  5.789231

[412 rows x 10 columns]>

Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 682, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139776164472704 and this is thread id 139775504013056.
Exception closing connection <sqlite3.Connection object at 0x7f200356de30>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 682, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139776164472704 and this is thread id 139775504013056.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 247, in _close_connection
    self._dialect.do_close(connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 688, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 139776164472704 and this is thread id 139775504013056.

In [ ]:
# Resultados obtenidos
transform

     InvoiceId  CustomerId  ...  Total   Average
0            1           2  ...   1.98  5.588571
1            2           4  ...   3.96  5.660000
2            3           8  ...   5.94  5.374286
3            4          14  ...   8.91  5.427857
4            5          23  ...  13.86  5.747912
..         ...         ...  ...    ...       ...
407        408          25  ...   3.96  5.747912
408        409          29  ...   5.94  5.427857
409        410          35  ...   8.91  5.517143
410        411          44  ...  13.86  5.945714
411        412          58  ...   1.99  5.789231

[412 rows x 10 columns]

In [ ]:
# Verificamos que ningun atributo esté vacío
transform.isnull().sum()

InvoiceId            0
CustomerId           0
InvoiceDate          0
BillingAddress       0
BillingCity          0
BillingState         0
BillingCountry       0
BillingPostalCode    0
Total                0
Average              0
dtype: int64

Cerramos la conexión con la base de datos para evitar errores.

In [ ]:

con.close()

In [ ]:
# Consulta final de la nueva tabla creada y ver los datos que contiene para darnos cuenta que los campos han sido rellenados con "ninguno" 
# y "12345"
inspector.get_columns('New_Invoice')

with engine.connect() as con:
    
    rs = con.execute('SELECT * FROM New_Invoice')
    
    for row in rs:
        print(row)
con.close()

(0, 1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 1.98, 5.588571428571428)
(1, 2, 4, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 3.96, 5.659999999999999)
(2, 3, 8, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', 'None', 'Belgium', '1000', 5.94, 5.374285714285714)
(3, 4, 14, '2009-01-06 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91, 5.427857142857142)
(4, 5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86, 5.747912087912091)
(5, 6, 37, '2009-01-19 00:00:00', 'Berger Straße 10', 'Frankfurt', 'None', 'Germany', '60316', 0.99, 5.588571428571428)
(6, 7, 38, '2009-02-01 00:00:00', 'Barbarossastraße 19', 'Berlin', 'None', 'Germany', '10779', 1.98, 5.588571428571428)
(7, 8, 40, '2009-02-01 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98, 5.574285714285712)
(8, 9, 42, '2009-02-02 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 3.96, 5.574285714285712)
(9, 10, 46, '2009-02-03 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', '99999', 5.94, 6.517142857142857)
(10, 11, 52, '2009-02-06 00:00:00', '202 Hoxton Street', 'London', 'None', 'United Kingdom', 'N1 5LH', 8.91, 5.374285714285714)
(11, 12, 2, '2009-02-11 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 13.86, 5.588571428571428)
(12, 13, 16, '2009-02-19 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 0.99, 5.747912087912091)
(13, 14, 17, '2009-03-04 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 1.98, 5.747912087912091)
(14, 15, 19, '2009-03-04 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 1.98, 5.747912087912091)
(15, 16, 21, '2009-03-05 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 3.96, 5.747912087912091)
(16, 17, 25, '2009-03-06 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 5.94, 5.747912087912091)
(17, 18, 31, '2009-03-09 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 8.91, 5.427857142857142)
(18, 19, 40, '2009-03-14 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 13.86, 5.574285714285712)
(19, 20, 54, '2009-03-22 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'None', 'United Kingdom', 'EH4 1HH', 0.99, 5.374285714285714)
(20, 21, 55, '2009-04-04 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 1.98, 5.3742857142857146)
(21, 22, 57, '2009-04-04 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', '99999', 1.98, 6.659999999999999)
(22, 23, 59, '2009-04-05 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 3.96, 5.789230769230769)
(23, 24, 4, '2009-04-06 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 5.94, 5.659999999999999)
(24, 25, 10, '2009-04-09 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 8.91, 5.431428571428571)
(25, 26, 19, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86, 5.747912087912091)
(26, 27, 33, '2009-04-22 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 0.99, 5.427857142857142)
(27, 28, 34, '2009-05-05 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', '99999', 1.98, 5.517142857142856)
(28, 29, 36, '2009-05-05 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'None', 'Germany', '10789', 1.98, 5.588571428571428)
(29, 30, 38, '2009-05-06 00:00:00', 'Barbarossastraße 19', 'Berlin', 'None', 'Germany', '10779', 3.96, 5.588571428571428)
(30, 31, 42, '2009-05-07 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 5.94, 5.574285714285712)
(31, 32, 48, '2009-05-10 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 8.91, 5.8028571428571425)
(32, 33, 57, '2009-05-15 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', '99999', 13.86, 6.659999999999999)
(33, 34, 12, '2009-05-23 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 0.99, 5.431428571428571)
(34, 35, 13, '2009-06-05 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 1.98, 5.431428571428571)
(35, 36, 15, '2009-06-05 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 1.98, 5.427857142857142)
(36, 37, 17, '2009-06-06 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 3.96, 5.747912087912091)
(37, 38, 21, '2009-06-07 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 5.94, 5.747912087912091)
(38, 39, 27, '2009-06-10 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 8.91, 5.747912087912091)
(39, 40, 36, '2009-06-15 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'None', 'Germany', '10789', 13.86, 5.588571428571428)
(40, 41, 50, '2009-06-23 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'None', 'Spain', '28015', 0.99, 5.374285714285714)
(41, 42, 51, '2009-07-06 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 1.98, 5.517142857142858)
(42, 43, 53, '2009-07-06 00:00:00', '113 Lupus St', 'London', 'None', 'United Kingdom', 'SW1V 3EN', 1.98, 5.374285714285714)
(43, 44, 55, '2009-07-07 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 3.96, 5.3742857142857146)
(44, 45, 59, '2009-07-08 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 5.94, 5.789230769230769)
(45, 46, 6, '2009-07-11 00:00:00', 'Rilská 3174/6', 'Prague', 'None', 'Czech Republic', '14300', 8.91, 6.445714285714287)
(46, 47, 15, '2009-07-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 13.86, 5.427857142857142)
(47, 48, 29, '2009-07-24 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 0.99, 5.427857142857142)
(48, 49, 30, '2009-08-06 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 1.98, 5.427857142857142)
(49, 50, 32, '2009-08-06 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 1.98, 5.427857142857142)
(50, 51, 34, '2009-08-07 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', '99999', 3.96, 5.517142857142856)
(51, 52, 38, '2009-08-08 00:00:00', 'Barbarossastraße 19', 'Berlin', 'None', 'Germany', '10779', 5.94, 5.588571428571428)
(52, 53, 44, '2009-08-11 00:00:00', 'Porthaninkatu 9', 'Helsinki', 'None', 'Finland', '00530', 8.91, 5.945714285714287)
(53, 54, 53, '2009-08-16 00:00:00', '113 Lupus St', 'London', 'None', 'United Kingdom', 'SW1V 3EN', 13.86, 5.374285714285714)
(54, 55, 8, '2009-08-24 00:00:00', 'Grétrystraat 63', 'Brussels', 'None', 'Belgium', '1000', 0.99, 5.374285714285714)
(55, 56, 9, '2009-09-06 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 1.98, 5.3742857142857146)
(56, 57, 11, '2009-09-06 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 1.98, 5.431428571428571)
(57, 58, 13, '2009-09-07 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 3.96, 5.431428571428571)
(58, 59, 17, '2009-09-08 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 5.94, 5.747912087912091)
(59, 60, 23, '2009-09-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 8.91, 5.747912087912091)
(60, 61, 32, '2009-09-16 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 13.86, 5.427857142857142)
(61, 62, 46, '2009-09-24 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', '99999', 0.99, 6.517142857142857)
(62, 63, 47, '2009-10-07 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 1.98, 5.3742857142857146)
(63, 64, 49, '2009-10-07 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 1.98, 5.3742857142857146)
(64, 65, 51, '2009-10-08 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 3.96, 5.517142857142858)
(65, 66, 55, '2009-10-09 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 5.94, 5.3742857142857146)
(66, 67, 2, '2009-10-12 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', 'None', 'Germany', '70174', 8.91, 5.588571428571428)
(67, 68, 11, '2009-10-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 13.86, 5.431428571428571)
(68, 69, 25, '2009-10-25 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 0.99, 5.747912087912091)
(69, 70, 26, '2009-11-07 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 1.98, 5.747912087912091)
(70, 71, 28, '2009-11-07 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 1.98, 5.747912087912091)
(71, 72, 30, '2009-11-08 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 3.96, 5.427857142857142)
(72, 73, 34, '2009-11-09 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', '99999', 5.94, 5.517142857142856)
(73, 74, 40, '2009-11-12 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 8.91, 5.574285714285712)
(74, 75, 49, '2009-11-17 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 13.86, 5.3742857142857146)
(75, 76, 4, '2009-11-25 00:00:00', 'Ullevålsveien 14', 'Oslo', 'None', 'Norway', '0171', 0.99, 5.659999999999999)
(76, 77, 5, '2009-12-08 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 1.98, 6.445714285714287)
(77, 78, 7, '2009-12-08 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'None', 'Austria', '1010', 1.98, 6.088571428571428)
(78, 79, 9, '2009-12-09 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 3.96, 5.3742857142857146)
(79, 80, 13, '2009-12-10 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 5.94, 5.431428571428571)
(80, 81, 19, '2009-12-13 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 8.91, 5.747912087912091)
(81, 82, 28, '2009-12-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 13.86, 5.747912087912091)
(82, 83, 42, '2009-12-26 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 0.99, 5.574285714285712)
(83, 84, 43, '2010-01-08 00:00:00', '68, Rue Jouvence', 'Dijon', 'None', 'France', '21000', 1.98, 5.574285714285712)
(84, 85, 45, '2010-01-08 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 1.98, 6.517142857142857)
(85, 86, 47, '2010-01-09 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 3.96, 5.3742857142857146)
(86, 87, 51, '2010-01-10 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 6.94, 5.517142857142858)
(87, 88, 57, '2010-01-13 00:00:00', 'Calle Lira, 198', 'Santiago', 'None', 'Chile', '99999', 17.91, 6.659999999999999)
(88, 89, 7, '2010-01-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'None', 'Austria', '1010', 18.86, 6.088571428571428)
(89, 90, 21, '2010-01-26 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 0.99, 5.747912087912091)
(90, 91, 22, '2010-02-08 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 1.98, 5.747912087912091)
(91, 92, 24, '2010-02-08 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 1.98, 5.747912087912091)
(92, 93, 26, '2010-02-09 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 3.96, 5.747912087912091)
(93, 94, 30, '2010-02-10 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 5.94, 5.427857142857142)
(94, 95, 36, '2010-02-13 00:00:00', 'Tauentzienstraße 8', 'Berlin', 'None', 'Germany', '10789', 8.91, 5.588571428571428)
(95, 96, 45, '2010-02-18 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 21.86, 6.517142857142857)
(96, 97, 59, '2010-02-26 00:00:00', '3,Raj Bhavan Road', 'Bangalore', 'None', 'India', '560001', 1.99, 5.789230769230769)
(97, 98, 1, '2010-03-11 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.98, 5.431428571428571)
(98, 99, 3, '2010-03-11 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 3.98, 5.427857142857142)
(99, 100, 5, '2010-03-12 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 3.96, 6.445714285714287)
(100, 101, 9, '2010-03-13 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 5.94, 5.3742857142857146)
(101, 102, 15, '2010-03-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 9.91, 5.427857142857142)
(102, 103, 24, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86, 5.747912087912091)
(103, 104, 38, '2010-03-29 00:00:00', 'Barbarossastraße 19', 'Berlin', 'None', 'Germany', '10779', 0.99, 5.588571428571428)
(104, 105, 39, '2010-04-11 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 1.98, 5.574285714285712)
(105, 106, 41, '2010-04-11 00:00:00', '11, Place Bellecour', 'Lyon', 'None', 'France', '69002', 1.98, 5.574285714285712)
(106, 107, 43, '2010-04-12 00:00:00', '68, Rue Jouvence', 'Dijon', 'None', 'France', '21000', 3.96, 5.574285714285712)
(107, 108, 47, '2010-04-13 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 5.94, 5.3742857142857146)
(108, 109, 53, '2010-04-16 00:00:00', '113 Lupus St', 'London', 'None', 'United Kingdom', 'SW1V 3EN', 8.91, 5.374285714285714)
(109, 110, 3, '2010-04-21 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 13.86, 5.427857142857142)
(110, 111, 17, '2010-04-29 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 0.99, 5.747912087912091)
(111, 112, 18, '2010-05-12 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 1.98, 5.747912087912091)
(112, 113, 20, '2010-05-12 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 1.98, 5.747912087912091)
(113, 114, 22, '2010-05-13 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 3.96, 5.747912087912091)
(114, 115, 26, '2010-05-14 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 5.94, 5.747912087912091)
(115, 116, 32, '2010-05-17 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 8.91, 5.427857142857142)
(116, 117, 41, '2010-05-22 00:00:00', '11, Place Bellecour', 'Lyon', 'None', 'France', '69002', 13.86, 5.574285714285712)
(117, 118, 55, '2010-05-30 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 0.99, 5.3742857142857146)
(118, 119, 56, '2010-06-12 00:00:00', '307 Macacha Güemes', 'Buenos Aires', 'None', 'Argentina', '1106', 1.98, 5.3742857142857146)
(119, 120, 58, '2010-06-12 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 1.98, 5.789230769230769)
(120, 121, 1, '2010-06-13 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.96, 5.431428571428571)
(121, 122, 5, '2010-06-14 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 5.94, 6.445714285714287)
(122, 123, 11, '2010-06-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 8.91, 5.431428571428571)
(123, 124, 20, '2010-06-22 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 13.86, 5.747912087912091)
(124, 125, 34, '2010-06-30 00:00:00', 'Rua da Assunção 53', 'Lisbon', 'None', 'Portugal', '99999', 0.99, 5.517142857142856)
(125, 126, 35, '2010-07-13 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', '99999', 1.98, 5.517142857142856)
(126, 127, 37, '2010-07-13 00:00:00', 'Berger Straße 10', 'Frankfurt', 'None', 'Germany', '60316', 1.98, 5.588571428571428)
(127, 128, 39, '2010-07-14 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 3.96, 5.574285714285712)
(128, 129, 43, '2010-07-15 00:00:00', '68, Rue Jouvence', 'Dijon', 'None', 'France', '21000', 5.94, 5.574285714285712)
(129, 130, 49, '2010-07-18 00:00:00', 'Ordynacka 10', 'Warsaw', 'None', 'Poland', '00-358', 8.91, 5.3742857142857146)
(130, 131, 58, '2010-07-23 00:00:00', '12,Community Centre', 'Delhi', 'None', 'India', '110017', 13.86, 5.789230769230769)
(131, 132, 13, '2010-07-31 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 0.99, 5.431428571428571)
(132, 133, 14, '2010-08-13 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 1.98, 5.427857142857142)
(133, 134, 16, '2010-08-13 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 1.98, 5.747912087912091)
(134, 135, 18, '2010-08-14 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 3.96, 5.747912087912091)
(135, 136, 22, '2010-08-15 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 5.94, 5.747912087912091)
(136, 137, 28, '2010-08-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 8.91, 5.747912087912091)
(137, 138, 37, '2010-08-23 00:00:00', 'Berger Straße 10', 'Frankfurt', 'None', 'Germany', '60316', 13.86, 5.588571428571428)
(138, 139, 51, '2010-08-31 00:00:00', 'Celsiusg. 9', 'Stockholm', 'None', 'Sweden', '11230', 0.99, 5.517142857142858)
(139, 140, 52, '2010-09-13 00:00:00', '202 Hoxton Street', 'London', 'None', 'United Kingdom', 'N1 5LH', 1.98, 5.374285714285714)
(140, 141, 54, '2010-09-13 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'None', 'United Kingdom', 'EH4 1HH', 1.98, 5.374285714285714)
(141, 142, 56, '2010-09-14 00:00:00', '307 Macacha Güemes', 'Buenos Aires', 'None', 'Argentina', '1106', 3.96, 5.3742857142857146)
(142, 143, 1, '2010-09-15 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 5.94, 5.431428571428571)
(143, 144, 7, '2010-09-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', 'None', 'Austria', '1010', 8.91, 6.088571428571428)
(144, 145, 16, '2010-09-23 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 13.86, 5.747912087912091)
(145, 146, 30, '2010-10-01 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 0.99, 5.427857142857142)
(146, 147, 31, '2010-10-14 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98, 5.427857142857142)
(147, 148, 33, '2010-10-14 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 1.98, 5.427857142857142)
(148, 149, 35, '2010-10-15 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', 'None', 'Portugal', '99999', 3.96, 5.517142857142856)
(149, 150, 39, '2010-10-16 00:00:00', '4, Rue Milton', 'Paris', 'None', 'France', '75009', 5.94, 5.574285714285712)
(150, 151, 45, '2010-10-19 00:00:00', 'Erzsébet krt. 58.', 'Budapest', 'None', 'Hungary', 'H-1073', 8.91, 6.517142857142857)
(151, 152, 54, '2010-10-24 00:00:00', '110 Raeburn Pl', 'Edinburgh ', 'None', 'United Kingdom', 'EH4 1HH', 13.86, 5.374285714285714)
(152, 153, 9, '2010-11-01 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', 'None', 'Denmark', '1720', 0.99, 5.3742857142857146)
(153, 154, 10, '2010-11-14 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 1.98, 5.431428571428571)
(154, 155, 12, '2010-11-14 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 1.98, 5.431428571428571)
(155, 156, 14, '2010-11-15 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 3.96, 5.427857142857142)
(156, 157, 18, '2010-11-16 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 5.94, 5.747912087912091)
(157, 158, 24, '2010-11-19 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 8.91, 5.747912087912091)
(158, 159, 33, '2010-11-24 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 13.86, 5.427857142857142)
(159, 160, 47, '2010-12-02 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 0.99, 5.3742857142857146)
(160, 161, 48, '2010-12-15 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 1.98, 5.8028571428571425)
(161, 162, 50, '2010-12-15 00:00:00', 'C/ San Bernardo 85', 'Madrid', 'None', 'Spain', '28015', 1.98, 5.374285714285714)
(162, 163, 52, '2010-12-16 00:00:00', '202 Hoxton Street', 'London', 'None', 'United Kingdom', 'N1 5LH', 3.96, 5.374285714285714)